{% extends 'main.html' %}
{% load static %}

{% block data %}
<div class="home">
    {% if request.user.role == 'buyer' %}
    <div class="top">
        <div class="section_titles">For You:</div>
        <div class="carousel">
            {% for listing in forYou.all %}
            <div class="listing">
                <div class="photo">
                    <a href="{% url 'Listing' listing.id  %}" class="button">View</a>
                </div>
                <div class="description">
                    <div class="price">${{ listing.price }}</div>
                    <div class="info">{{ listing.bedrooms }} bds, {{ listing.bathrooms }} ba, {{ listing.space }} sqft</div>
                    <div class="address">{{ listing.listing_name }}, {{ listing.city }}, {{ listing.county }}</div>                        
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="center">
        <div class="section_titles">Near You:</div>
        <div class="carousel">
            {% for listing in nearYou.all %}
            <div class="listing">
                <div class="photo">
                    <a href="{% url 'Listing' listing.id  %}" class="button">View</a>
                </div>
                <div class="description">
                    <div class="price">${{ listing.price }}</div>
                    <div class="info">{{ listing.bedrooms }} bds, {{ listing.bathrooms }} ba, {{ listing.space }} sqft</div>
                    <div class="address">{{ listing.listing_name }}, {{ listing.city }}, {{ listing.county }}</div>                        
                </div>
            </div>
            {% endfor %}          
        </div>
    </div>
    <div class="bottom">
        <div class="section_titles">Saved:</div>
        <div class="carousel">
            {% for listing in saved.all %}
            <div class="listing">
                <div class="photo">
                    <a href="{% url 'Listing' listing.id  %}" class="button">View</a>
                </div>
                <div class="description">
                    <div class="price">${{ listing.price }}</div>
                    <div class="info">{{ listing.bedrooms }} bds, {{ listing.bathrooms }} ba, {{ listing.space }} sqft</div>
                    <div class="address">{{ listing.listing_name }}, {{ listing.city }}, {{ listing.county }}</div>                        
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% elif request.user.role == 'seller' %}
        <div class="top">
        <div class="section_titles">Your listings:</div>
        <div class="carousel">
            {% for listing in saved.all %}
            <div class="listing">
                <div class="photo">
                    <a href="{% url 'Listing' listing.id  %}" class="button">View</a>
                </div>
                <div class="description">
                    <div class="price">${{ listing.price }}</div>
                    <div class="info">{{ listing.bedrooms }} bds, {{ listing.bathrooms }} ba, {{ listing.space }} sqft</div>
                    <div class="address">{{ listing.listing_name }}, {{ listing.city }}, {{ listing.county }}</div>                        
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="center">
        <div class="section_titles" >Popular Listings:</div>
        <div class="carousel">
            {% for listing in popular.all %}
            <div class="listing">
                <div class="photo">
                    <a href="{% url 'Listing' listing.id  %}" class="button">View</a>
                </div>
                <div class="description">
                    <div class="price">${{ listing.price }}</div>
                    <div class="info">{{ listing.bedrooms }} bds, {{ listing.bathrooms }} ba, {{ listing.space }} sqft</div>
                    <div class="address">{{ listing.listing_name }}, {{ listing.city }}, {{ listing.county }}</div>                        
                </div>
            </div>
            {% endfor %}          
        </div>
    </div>
    {% endif %} 
</div>
{% endblock %}