{% extends 'main.html' %}
{% load static %}

{% block data %}
<div class="Listing">
    <div class="left">
        <h2 class="left_heading">Your listings:</h2>
        <div class="left_items">
            {% for listing in seller_Listings %}
            <div class="listing">
                <div class="photo">
                    <a href="{% url 'Listing' listing.id  %}" class="button">View</a>
                </div>
                <div class="description">
                    <div class="price">${{ listing.price }}</div>
                    <div class="info">{{ listing.bedrooms }} bds, {{ listing.bathrooms }} ba, {{ listing.space }} sqft</div>
                    <div class="address">{{ listing.listing_name }}, {{ listing.city }}, {{ listing.county }}</div>                        
                </div>
            </div>
            {% endfor %}            
        </div>

    </div>
    <div class="right">
        <h2 class="right_title">Create Listing:</h2>
        <div class="right_items">
            <form class= 'form' method="POST" action="{% url 'sellerListings' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ListingForm}}
                <button type="submit" name="CL">Create Listing</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}