{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="head">
    <ul class="navbar">
        <li><a href="/MLS/login">Login</a></li>
        <li><a href="/MLS/signIn/buyer">Buyer Sign-Up</a></li>
        <li><a href="/MLS/signIn/seller">Seller Sign-Up</a></li>   
    </ul>
</div>
<div class="main">
    <div class="startUp">
        <div class="startImg">
            <img src="{% static 'Assests\HDstartup.webp' %}" alt="startUp">
        </div>
        <div class="startPanel">
            {% block input %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="foot">Individual project: Developing a Property Marketplace application with a Recommendation system.</div>
{% endblock %}